.content{
	position: relative;
	width: 100%;
	padding-left: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.content .textBox{
	position: relative;
	max-width: 600px;
	padding-left: 20px;
	margin-left: 20px;
}

.content .textBox h2{
	font-size: 3.7em;
	line-height: 1.5em;
	font-weight: 900;
	text-transform: uppercase;
	color: #0A1931;
}

.content .imgBox{
	max-width: 100%;
	height: auto;
	display: flex;
	padding-right: 50px;
	margin-top: 50px;
	justify-content: flex-end;
}

.content .imgBox img{
	max-width: 750px;
}

.thumb{
	position: absolute;
	left: 50%;
	bottom: auto;
	transform: translateX(-50%);
	display: flex;
}

.thumb li{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	cursor: pointer;
	transition: 0.5s;
}

.thumb li img{
	max-width: 150px;
}

.thumb li:hover{
	transform: translateY(-15px);
}

.left, .right {
  float: left;
  width: 20%; /* The width is 20%, by default */
}

.main {
  float: left;
  width: 60%; /* The width is 60%, by default */
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
  .left, .main, .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}